@model List<Coffee.Entities.Billdrink>
@using static Coffee.Interfaces.IDbContext
@{
    ViewBag.Title = "Ordering";
}
<head>
        <link rel="stylesheet" href="css/style.css">
</head>
<table class="table">
<tr><td>Название</td><td>Цена</td></tr>
@foreach (var item in Model)
{
    <tr>
        <td>@item.DrinkId</td>
        <td>@item.Coast</td>
    </tr>
}
</table>
<div>
    <center>
        <form method="post">
            <table>
                <td><a href="~/Home/BuyDrinkPost" class="btn-outline-dark">Next</a></td>
            </table>
        </form>
    </center>
</div>