@model IEnumerable<Coffee.Entities.Drink>
@{
    ViewBag.Title = "Menu";
}
@*<head>
    <title>Menu</title>
</head>*@
<head>
@*    <title>Menu</title>
*@    <link rel="stylesheet" href="css/style.css">
</head>
<a href="~/Home/BuyDrink" class="btn btn-outline-dark">Basket</a>
    <table class="table">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Coast</td>
            <td>Volume</td>
            <td></td>
        </tr>
        @foreach (var drink in Model)
        {
            <tr>
                <td>@drink.Id</td>
                <td>@drink.Name</td>
                <td>@drink.Coast</td>
                <td>@drink.Volume</td>
                <td><a href="~/Home/MenuPost?id=@drink.Id" class="btn btn-outline-dark">Buy</a></td>
            </tr>
        }
    </table>
