@model Coffee.Entities.User
<html>
<head>
    <title>Welkom</title>
        <link rel="stylesheet" href="css/style.css">
</head>
    <table>
    <td><a href="~/Home/Menu" class="btn btn-outline-dark">on the spot</a></td>
    <td><a href="~/Home/Menu" class="btn btn-outline-dark">along</a></td>
    </table>
</html>