<head>
    <link rel="stylesheet" href="css/style.css">
</head>
<a asp-action="UserFirstPage" class="btn btn-outline-dark">User First Page</a>
<table class="table">
    <tr><td>Wait</td></tr>
</table>
